<div class="container mt-5 pt-4">

  <div class="banner">

    <img src="assets/images/banner1.png" class="d-block w-100" alt="Баннер 1">

  </div>


  <app-popup *ngIf="showPopup" (close)="closePopup()" (viewCatalog)="navigateToCatalog()"></app-popup>
</div>



<div class="container mb-5 d-flex flex-column align-items-center">
  <h2 class="text-center fs-3 mt-5 mb-5 pt-4 fw-bold">Ответы на часто задаваемые вопросы</h2>

  <ngb-accordion class="accordion col-12 col-md-8" >
    <ngb-panel class="accordion-item mb-3" title="Собираете ли вы подарочные боксы?">
      <ng-template ngbPanelContent>
        <p>Да, у нас есть такая услуга. Мы можем собрать подарочный бокс на любой вкус, объем и стоимость!</p>

      </ng-template>
    </ngb-panel>
    <ngb-panel class="accordion-item mb-3" title="          Какого объема у вас пачки чая?
">
      <ng-template ngbPanelContent>
        <p>Да, у нас есть такая услуга. Мы можем собрать подарочный бокс на любой вкус, объем и стоимость!</p>

      </ng-template>
    </ngb-panel>
    <ngb-panel class="accordion-item mb-3" title="Собираете ли вы подарочные боксы?">
      <ng-template ngbPanelContent>
        <p>Да, у нас есть такая услуга. Мы можем собрать подарочный бокс на любой вкус, объем и стоимость!</p>

      </ng-template>
    </ngb-panel>
    <ngb-panel class="accordion-item mb-3" title="          В какой срок осуществляется доставка?
">
      <ng-template ngbPanelContent>
        <p>Да, у нас есть такая услуга. Мы можем собрать подарочный бокс на любой вкус, объем и стоимость!</p>

      </ng-template>
    </ngb-panel>
    <ngb-panel class="accordion-item mb-3" title="          У вас обновляется ассортимент?
">
      <ng-template ngbPanelContent>
        <p>Да, у нас есть такая услуга. Мы можем собрать подарочный бокс на любой вкус, объем и стоимость!</p>

      </ng-template>
    </ngb-panel>

  </ngb-accordion>








</div>
